/* App.css */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0; /* Remove margin and add padding */
}

.App {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 18px;
  background-color: #f6f5f7;
  color: #ffffff;
}


@media (max-width: 768px) {
  body {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .App {
    font-size: 16px; /* Adjust font size for smaller screens */
  }
}

.carpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.search-container {
  margin-bottom: 20px;
}

.car-logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car-models-container {
  margin-top: 20px;
}

.car-models-container input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.car-models-container ul {
  list-style-type: none;
  padding: 0;
}

.car-models-container li {
  font-size: 18px;
  margin-top: 15px;
}
