.carpage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 150px;
}

.search-container {
  margin-bottom: 20px;
}

.search-input input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.car-logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car-logos-container .row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.car-logos-container .row .car-logo {
  margin: 10px;
}

.car-models-container {
  margin-top: 20px;
}

.car-models-container .search-model-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px; 
}

.car-models-container input[type="text"] {
  width: calc(70% - 20px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.car-models-container .search-button {
  width: calc(30% - 20px);
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  margin-right: 10px; 
}

error-popup {
  position: fixed;
  bottom: 70px;
  right: 100px;
  background-color: #a10000;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
}

.model-suggestions {
  position: relative; /* Change position to relative */
  background: #eeebeb;
  border: 1px solid #ccc;
  width: 100%; /* Occupy full width of the container */
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
}

.model-suggestions .model-suggestion {
  padding: 10px;
  cursor: pointer;
}

.model-suggestions .model-suggestion:hover {
  background-color: #f5f5f5;
}