.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 700px;
  }
  
  
  .signin-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(100%);
    z-index: 2;
    background: #000000; 
    color: #ffffffb0; 
    transition: all 0.6s ease-in-out;
  }
  
  .signin-container.signin {
    transform: translateX(100%); 
    background: #ff4b2b;
    color: #ffffff; 
  }
  
  .signup-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    left: 0;
    opacity: 1;
    z-index: 0;
    background: #030303; 
    color: #ffffff; 
    transition: all 0.6s ease-in-out;
  }
  
  .signup-container.signin {
    transform: translateX(100%); 
    opacity: 0;
    z-index: 2;
    background: #ffffff; 
    color: #333; 
  }
  
  
  /* Form Styles */
  form {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  /* Title Styles */
  h1 {
    font-weight: bold;
    margin: 0;
  }
  
  /* Input Styles */
  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
  
  /* Button Styles */
  button {
    border-radius: 20px;
    border: 1px solid #ff4b2b;
    background-color: #ff4b2b;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  /* Anchor Styles */
  a {
    color: #44b9f0;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  
  /* OverlayContainer Styles */
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .overlay-container.signin {
    transform: translateX(-100%);
  }
  
  /* Overlay Styles */
  .overlay {
    background: #f30606; 
    background: -webkit-linear-gradient(to right, #a80c0c, #000000);
    background: linear-gradient(to right, #a80c0c, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff; 
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay.signin {
    transform: translateX(50%);
  }
  
  /* OverlayPanel Styles */
  .overlay .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center; 
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  /* LeftOverlayPanel Styles */
  .overlay .left-overlay-panel {
    transform: translateX(0%);
  }
  
  /* RightOverlayPanel Styles */
  .overlay .right-overlay-panel {
    right: 0;
    transform: translateX(0);
  }
  
  /* Paragraph Styles */
  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }
  
  /* GhostButton Styles */
  .ghost-button {
    background-color: transparent;
    border-color: #ffffff;
  }
  
  /* Styling for the Terms and Conditions checkbox */
  .terms-label {
    align-items: center;
    margin: 10px 0;
    color: #44b9f0; 
  }
  
  .terms-label input[type="checkbox"] {
    margin-right: 5px; 
  }
  
 