/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0px 10px;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 70px; /* Adjust the logo size as needed */
}

.navigation ul {
  list-style-type: none;
  display: flex;
  gap: 50px; /* Adjust the gap as needed */
  padding: 0;
  margin: 0;
  margin-right: auto; /* Push navigation links to the left */
}

.navigation ul li {
  margin: 0;
  padding: 0;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.contact-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Media Query for Smaller Screens */
@media (max-width: 768px) {
  .header {
    height: auto; /* Adjust header height for mobile */
    padding: 10px; /* Add padding for better mobile display */
    flex-direction: row; /* Align elements horizontally on mobile */
    align-items: center;
  }

  .logo img {
    max-width: 70px; /* Adjust the logo size for mobile */
  }

  .navigation ul {
    flex-direction: row; /* Align navigation links horizontally on mobile */
    gap: 10px; /* Adjust spacing between links */
    margin: 0; /* Remove margin for mobile */
  }

  .login-link {
    margin-left: auto; /* Push the login link to the right */
  }
}
